.related h2 {
  padding-bottom: var(--spacing-title);
}

/* Related - Fonctionnalité */
.related .features-grid {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 992px) {
  .related .features-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;
  }
}

.related .features-grid .feature {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.related .features-grid .feature img {
  width: 100%;
  max-width: 100px;
  transform: scale(1);
  transition: transform ease 250ms;
}

@media screen and (min-width: 992px) {
  .related .features-grid .feature img {
    max-width: 125px;
  }
}

.related .features-grid .feature:hover img {
  transform: scale(1.05);
}

.related .features-grid .feature p {
  margin-top: 0.5em;
  color: var(--primary-3);
}