/* #Buttons
--------------------------------------------------------------- */
.btn {
  height: 40px;
  padding: 0.3rem 1.2rem 0.35rem 1.2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: var(--bold);
  font-weight: 500;
  border-radius: 50px;
  border-width: 3px;
  border-style: solid;
  transition: all ease 250ms;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

@media screen and (min-width: 768px) {
  .btn-wrapper {
    flex-direction: row;
    align-items: center;
  }
}

/* Primary */
.btn.btn-primary {
  background-color: var(--primary-2);
  border-color: var(--secondary-2);
  color: var(--white);
}

.btn.btn-primary:hover {
  border-color: var(--primary-2);
}

.btn.btn-primary-dark {
  background-color: var(--primary-1);
  border-color: var(--secondary-2);
  color: var(--white);
}

.btn.btn-primary-dark:hover {
  border-color: var(--primary-1);
}

/* Secondary */
.btn.btn-secondary {
  background-color: var(--primary-4);
  border-color: var(--secondary-4);
  color: var(--white);
}

.btn.btn-secondary:hover {
  border-color: var(--primary-4);
}

/* Tertiary */
.btn.btn-tertiary {
  background-color: var(--tertiary-2);
  border-color: var(--tertiary-4);
  color: var(--white);
}

.btn.btn-tertiary:hover {
  border-color: var(--tertiary-2);
}