/* #Footer
--------------------------------------------------------------- */
#footer {
  font-family: var(--bold);
  background-color: var(--primary-1);
}

#footer .title {
  color: var(--white) !important;
  margin-bottom: 1em;
  display: block;
  text-transform: uppercase;
  font-size: 1.2em;
}

#footer .main-footer {
  padding: var(--spacing-section-inner) 0;
}

#footer .main-footer a {
  color: var(--primary-3);
  text-decoration: none;
  transition: color ease 250ms;
}

#footer .main-footer a:hover,
#footer .main-footer a:focus {
  color: var(--secondary-2);
}

#footer .main-footer>.container>*:not(:nth-last-child(1)) {
  margin-bottom: 2.5rem;
}

#footer .custom-logo-link {
  max-width: 200px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

#footer .custom-logo {
  width: 100%;
  height: auto;
  filter: brightness(0) invert(1);
}

/* Wrapper */
#footer .main-footer .wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 992px) {
  #footer .main-footer .wrapper {
    flex-direction: row;
    text-align: unset;
  }
}

#footer .main-footer .wrapper>div {
  flex: 1 1 0;
}

#footer .main-footer .wrapper>div:not(:nth-last-child(1)) {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 992px) {
  #footer .main-footer .wrapper>div:not(:nth-last-child(1)) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  #footer .main-footer .informations {
    order: 2;
  }
}

@media screen and (min-width: 992px) {
  #footer .main-footer .menu-1 {
    order: 1;
  }
}

@media screen and (min-width: 992px) {
  #footer .main-footer .menu-2 {
    order: 3;
    text-align: right;
  }
}

#footer .main-footer .menu-item {
  margin-bottom: 0.25em;
}

/* Informations */
#footer .informations>* {
  margin-bottom: 0.75em;
  display: block;
  color: var(--primary-3);
  text-align: center;
}

#footer .informations .app {
  margin-top: 2.5rem;
}

#footer .informations .app-links {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#footer .informations .app-pill:first-child {
  flex-basis: 45.93%;
}

#footer .informations .app-pill {
  flex-basis: 49%;
}

#footer .informations .app-pill img {
  width: 100%;
  max-height: 45px;
}

/* Copyrights */
#footer .main-footer .copyrights {
  text-align: center;
}

#footer .main-footer .copyrights a {
  color: var(--secondary-2)
}

/* Socials */
#footer .main-footer .socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer .main-footer .socials>a {
  max-width: 30px;
  margin: 0 7px;
  transform: scale(1);
  transition: transform ease 250ms;
}

#footer .main-footer .socials>a:hover,
#footer .main-footer .socials>a:focus {
  transform: scale(0.9);
}

#footer .main-footer .socials svg {
  width: 100%;
}

#footer .main-footer .socials svg path {
  fill: var(--secondary-2);
}

/* Sous-footer */
#footer .sub-footer {
  padding: 15px 0;
  display: block;
  font-weight: 500;
  color: var(--primary-1);
  text-align: center;
  text-decoration: none;
  background-color: var(--secondary-2);
}