/* #Header
--------------------------------------------------------------- */
#header {
  width: 100%;
  position: relative;
  background-color: var(--white);
  z-index: 99;
}

#header .inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .custom-logo {
  width: 100%;
  max-width: 175px;
  height: auto;
}

/* Menu */
#header .menu-header {
  width: 85%;
  display: none;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  background-color: unset;
}

@media screen and (min-width: 992px) {
  #header .menu-header {
    display: flex;
  }
}

#header .menu-header li a {
  width: unset;
  padding: 2em 1em;
  display: block;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  transition: color ease 250ms;
}

#header .menu-header li a:hover,
#header .menu-header li a:focus {
  color: var(--primary-3);
}

/* Submenu */
#header .menu-item-has-children {
  position: relative;
}

@media screen and (min-width: 992px) {
  #header .menu-item-has-children {
    display: flex;
  }
}

#header .sub-menu {
  width: 100%;
  min-width: 300px;
  top: calc(100%);
  display: none;
  background-color: var(--link-water);
}

@media screen and (min-width: 992px) {
  #header .sub-menu {
    position: absolute;
  }
}

@media screen and (min-width: 992px) {

  #header .menu-item-has-children:hover .sub-menu,
  #header .menu-item-has-children>a:focus+.sub-menu,
  #header .menu-item-has-children:focus-within .sub-menu {
    display: unset;
  }
}

#header .menu-item-has-children .sub-menu li {
  position: relative;
}

#header .menu-item-has-children:hover .sub-menu li:not(:first-of-type):after,
#header .menu-item-has-children>a:focus+.sub-menu li:not(:first-of-type):after,
#header .menu-item-has-children:focus-within .sub-menu li:not(:first-of-type):after {
  content: "";
  width: 80%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-3);
}

#header .menu-item-has-children .sub-menu a {
  padding: 1em;
  font-weight: 700;
}