/* 404 */
.error404 .hero {
  padding-top: var(--spacing-section-inner);
  padding-bottom: var(--spacing-section-inner);
  text-align: center;
  background-color: var(--link-water);
}

.error404 .hero .category {
  color: var(--primary-4);
  font-family: var(--bold);
  font-weight: 700;
}

.error404 .hero .description {
  margin-top: 1rem;
}

.error404 .hero .btn {
  margin-top: 2rem;
}

.error404 h2 {
  padding-bottom: var(--spacing-title);
}

.error404 .related {
  margin-top: var(--spacing-section-outer);
  margin-bottom: var(--spacing-section-outer);
}