/* #Single - Fonctionnalité
--------------------------------------------------------------- */
.single-fonctionnalite .hero {
  padding-top: 1rem;
  padding-bottom: var(--spacing-section-inner);
  margin-bottom: var(--spacing-section-outer);
  background-color: var(--link-water);
}

@media screen and (min-width: 992px) {
  .single-fonctionnalite .hero {
    padding-top: var(--spacing-section-inner);
  }
}

.single-fonctionnalite .hero .cols {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .single-fonctionnalite .hero .cols {
    display: flex;
    gap: 2em;
    flex-direction: row;
  }
}

.single-fonctionnalite .hero .cols>div {
  flex: 1 1 0;
}

.single-fonctionnalite .hero .image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-fonctionnalite .hero .image-wrapper>* {
  width: 100%;
  max-width: 200px;
  clip-path: inset(2px 2px);
}

@media screen and (min-width: 992px) {
  .single-fonctionnalite .hero .image-wrapper>* {
    max-width: 250px;
  }
}

@media screen and (min-width: 992px) {
  .single-fonctionnalite .hero .image-wrapper {
    order: 2;
  }
}

.single-fonctionnalite .hero .category {
  color: var(--primary-4);
  font-family: var(--bold);
  font-weight: 700;
}

.single-fonctionnalite .hero .description {
  margin-top: 1rem;
}

.single-fonctionnalite .hero .btn {
  margin-top: 2rem;
}

.single-fonctionnalite .related {
  margin-top: var(--spacing-section-outer);
  margin-bottom: var(--spacing-section-outer);
}