/* #Simple page
--------------------------------------------------------------- */
.page-template-simple-page main {
    padding-bottom: var(--spacing-section-outer);
}

.page-template-simple-page .hero {
    margin-bottom: var(--spacing-section-outer);
    text-align: center;
}