/* Simple page */
.page-template-simple-page {
    padding-top: var(--spacing-section-inner);
    padding-bottom: var(--spacing-section-inner);
}

.page-template-simple-page .hero {
    margin-bottom: var(--spacing-section-outer);
    text-align: center;
}