/* #Card location
--------------------------------------------------------------- */
.card-location {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  border-radius: var(--normal-radius);
  background: var(--primary-1);
}

.card-location .information {
  width: 50%;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .card-location .information {
    width: 20%;
  }
}

.card-location .information svg {
  max-width: 50px;
}

@media screen and (min-width: 768px) {
  .card-location .information svg {
    max-width: 75px;
  }
}

.card-location .information .title {
  margin-top: 0.85em;
  font-family: var(--bold);
  color: var(--white);
}

.card-location .information .number {
  font-size: 1.5em;
  color: var(--white);
  font-family: var(--bold);
}