/* #Content
--------------------------------------------------------------- */
.content-block.has-background {
    padding: 1px 0;
}

.content-block .container {
    margin: var(--spacing-section-outer) auto;
}

.content-block h2 {
    margin-bottom: var(--spacing-title);
}