/* #Highlighting
--------------------------------------------------------------- */
.highlighting {
  margin: var(--spacing-section-outer) auto;
}

.highlighting .inner {
  padding: 4rem 3rem 3rem 3rem;
  position: relative;
  text-align: center;
  background: var(--lavender-blush);
  border-radius: var(--normal-radius);
}

@media screen and (min-width: 768px) {
  .highlighting .inner {
    padding: 5.5rem 5rem 5rem 5rem;
  }
}

.highlighting .inner:before {
  content: attr(data-tab);
  border-radius: 0 1rem 1rem 0;
  padding: 5px 30px;
  position: absolute;
  top: 1rem;
  left: 0;
  color: var(--white);
  font-size: 0.8em;
  font-weight: 500;
  background-color: var(--primary-4);
}

@media screen and (min-width: 768px) {
  .highlighting .inner:before {
    top: 2rem;
    font-size: 0.9em;
  }
}

.highlighting h3 {
  font-style: italic;
}
