/* #Perks
--------------------------------------------------------------- */
.perks-block {
  margin: var(--spacing-section-outer) auto;
}

.perks-block>.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  grid-gap: 3em;
}

@media screen and (min-width: 767px) {
  .perks-block>.container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.perks-block.list>.container {
  grid-template-columns: repeat(1, 1fr);
}

.perks-block.list .perk {
  max-width: 620px;
  display: flex;
  align-items: center;
  gap: 1em;
}

.perks-block.text-left .perk {
  text-align: left;
}

.perks-block.text-center .perk {
  text-align: center;
}

.perks-block.text-right .perk {
  text-align: right;
}

.perk .title {
  display: block;
  margin-bottom: 0.35em;
  font-family: var(--bold);
  font-size: 1.2em;
  font-weight: 600;
  color: var(--primary-1);
}

.perk img {
  max-width: 240px;
  margin: 0 auto 2em auto;
  display: block;
}

.perks-block.text-left .perk img {
  margin: 0 auto 2em 0;
}

.perks-block.text-right .perk img {
  margin: 0 0 2em auto;
}

.perks-block.list .perk img {
  max-width: 125px;
}