/* #Summary
--------------------------------------------------------------- */
.summary-block {
  padding: 2rem;
  background-color: var(--link-water);
  border-radius: var(--normal-radius);
}

@media screen and (min-width: 992px) {
  .summary-block {
    padding: 3rem;
  }
}

.summary-block .title {
  font-family: var(--bold);
  margin-bottom: 1em;
  text-transform: uppercase;
  color: var(--primary-1);
  font-weight: 700;
}

.summary-block ol {
  padding-inline-start: 1em;
  list-style: auto;
  color: var(--primary-1);
  font-weight: 700;
}

.summary-block ol li {
  padding-bottom: 0.5em;
}

.summary-block ol a {
  color: var(--primary-3);
  font-weight: 400;
  text-decoration: none;
}