/* Testimonials */
.testimonials {
  margin: var(--spacing-section) auto;
}

@media screen and (min-width: 767px) {
  .testimonials {
    width: 75%;
  }
}

.testimonials h3 {
  margin-bottom: 0.5em;
  color: var(--primary-4);
  text-align: center;
}

.testimonials blockquote {
  margin: 0.5em;
  padding: 0.5em 2em 0.5em 2em;
  position: relative;
  color: var(--primary-1);
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 600;
  font-family: var(--bold);
  text-align: center;
}

@media screen and (min-width: 767px) {
  .testimonials blockquote {
    padding: 0.5em 3.2em 0.5em 3.2em;
  }
}

.testimonials blockquote:before {
  position: absolute;
  font-size: 5em;
  line-height: 1;
  top: 0;
  left: -10px;
  content: "\201C";
  color: var(--primary-4) !important;
}

@media screen and (min-width: 767px) {
  .testimonials blockquote:before {
    left: 0;
  }
}

.testimonials blockquote:after {
  position: absolute;
  float: right;
  font-size: 5em;
  line-height: 1;
  right: 0;
  bottom: -0.5em;
  content: "\201D";
  color: var(--primary-4) !important;
}

@media screen and (min-width: 767px) {
  .testimonials blockquote:after {
    right: 10px;
  }
}

.testimonials .author {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials .author img {
  max-width: 85px;
  margin-right: 1em;
  border-radius: 1rem;
}

.testimonials .author .infos {
  margin-left: 1em;
}

.testimonials .author .name {
  color: var(--primary-1);
  font-weight: 700;
  font-family: var(--bold);
  text-transform: uppercase;
}

.testimonials .author .position {
  color: var(--primary-3);
  font-style: italic;
}
